<h2 class="text-center">Información básica</h2>
    <div class="row justify-content-center">
        <div class="col-md-4">
<table class="table table-striped">
 
        <th scope="col">Primer apellido</th> 
            <tr class="border border-light">
                <td scope="row">{{clienteRes.primerapellido}}</td>
            </tr>
        <th scope="col">Primer nombre</th> 
            <tr class="border border-light">
                <td scope="row">{{clienteRes.primernombre}}</td>
            </tr>

</table>
<div class="row justify-content-center">
    <button type="submit" class="btn btn-primary" (click)="volver()" >Volver</button>
    </div>
</div></div>